{% extends "base.html" %}

{% block page_content %}

<h2>Document</h2>
<a href="/document" class="btn btn-success float-right">Add New Document</a>

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Id_book</th>
        <th scope="col">title</th>
        <th scope="col">number_pages</th>
        <th scope="col">category</th>
        <th scope="col">author</th>
        <th scope="col">Edit | Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for line in value %}
    <tr>
        <th scope="row">{{line[0]}}</th>
        <td>{{line[1]}}</td>
        <td>{{line[2]}}</td>
        <td>{{line[3]}}</td>
        <td>{{line[4]}}</td>
        <td>
            <a href="/document1_update/{{line[0]}}" class="btn btn-warning btn-xs">Edit</a>
            <a href="/document1_delete/{{line[0]}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
        </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}